<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Reports Dashboard</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <script>
      window.ChatraSetup = {
        colors: {
          buttonText: "#f0f0f0" /* chat button text color */,
          buttonBg: "#37517E" /* chat button background color */,
        },
      };
    </script>
    <% let KEY = key; %>
    <script>
      (function (d, w, c) {
        w.ChatraID = "<%= process.env.CHATRA_KEY %>";
        var s = d.createElement("script");
        w[c] =
          w[c] ||
          function () {
            (w[c].q = w[c].q || []).push(arguments);
          };
        s.async = true;
        s.src = "https://call.chatra.io/chatra.js";
        if (d.head) d.head.appendChild(s);
      })(document, window, "Chatra");
    </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="/">E-Survey</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li class="drop-down active">
              <a href="">Login</a>
              <ul>
                <li><a href="/visitor_signIn">As Visitor</a></li>
                <li><a href="/guest_signIn">As Guest(Student|Teachers)</a></li>
              </ul>
            </li>
            <li class="drop-down">
              <a href="">Register</a>
              <ul>
                <!-- <li><a href="/visitor_signUp">As Visitor</a></li> -->
                <!-- <li><a href="#">As College Admin</a></li> -->
                <li><a href="/guest_signUp">As Guest(Student|Teachers)</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
        <a href="/admin_login" class="get-started-btn scrollto">Admin Login</a>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <center>
              <h1>Login as Guest (Teacher/Student)</h1>

              <form style="width: 70%" method="POST" action="/guest_signIn">
                <div class="form-group">
                  <label for="visiting_officier_email">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="visiting_officier_email"
                    name="email"
                    aria-describedby="emailHelp"
                    placeholder="Enter your email ID"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="visiting_officier_password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="visiting_officier_password"
                    name="password"
                    placeholder="Enter your Password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-success">
                  Login
                </button>
              </form>
            </center>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Cliens Section ======= -->
      <section id="cliens" class="cliens section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Project Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Project</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6">
              <p>
                To make learning a serious goal classroom transaction and
                inspection process needs to be improved. To bring in paradigm
                shift, the teacher needs feedback, review and support. In the
                existing system, there is no check for visit compliance. Visit
                reports are done on pen and paper and half chance subjectivity.
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                No data is available pertaining to visits for supporting the
                teacher to make data driven decision, for example training
                diagnosing the academic issues, curriculum revision, student’s
                interaction with the official independently etc. In this
                context, we aim to develop a platform (Portal) and App for
                automating the monitoring the feedback process. Also, to make
                the data and report graphically interactive & expressive.
              </p>
            </div>
          </div>
          <br />
          <center>
            <a href="https://docs.google.com/presentation/d/1RcMDMMbn-SlY_ToaeNiPWYmeRqXJnrZZbrmukbEbvtg/edit?usp=sharing" class="btn-learn-more">Learn More</a>
          </center>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Key Factor Section ======= -->
      <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
            >
              <div class="content">
                <h3>
                  <strong>Key Factors</strong>
                </h3>
                <p>
                  Web Platform (Portal) for monitoring and displaying  the feedback information. Also, to make the data and report graphically interactive & expressive.
                </p>
              </div>

              <div class="accordion-list">
                <ul>
                  <li>
                    <a
                      data-toggle="collapse"
                      class="collapse"
                      href="#accordion-list-1"
                      ><span>01</span> Data as Information<i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-1"
                      class="collapse show"
                      data-parent=".accordion-list"
                    >
                      <p>
                        Statistical and Graphical Data based on Surveys.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a
                      data-toggle="collapse"
                      href="#accordion-list-2"
                      class="collapsed"
                      ><span>02</span> Advance Search
                      <i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-2"
                      class="collapse"
                      data-parent=".accordion-list"
                    >
                      <p>Based on rating, overall growth yearly, zone-wise distribution etc.</p>
                      
                    </div>
                  </li>
                  <li>
                    <a
                      data-toggle="collapse"
                      href="#accordion-list-3"
                      class="collapsed"
                      ><span>03</span> Chat Plug-in<i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-3"
                      class="collapse"
                      data-parent=".accordion-list"
                    >
                      <p>
                        For Students to address their concern and issues.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
              style="background-image: url('assets/img/why-us.png')"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              &nbsp;
            </div>
          </div>
        </div>
      </section>
      <!-- End Key Factors Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3>What is Teaching and Learning ??</h3>
              <p>
                Teaching can be defined as engagement with learners to enable their understanding and application of knowledge, concepts and processes.
                Learning can be defined as the activity or process of gaining knowledge or skill by studying, practicing, being taught, or experiencing something (Merriam-Webster dictionary). Learning is about what students do, not about what we as teachers do. 
              </p>
            </div>
           
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team</h2>
            <p>
              Team ID : CSEIP19
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="pic">
                  <img
                    src=""
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Gaurav</h4>
                  <span>Developer</span>
                  <p>
                    About me 
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="200"
              >
                <div class="pic">
                  <img
                    src=""
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Ruchir</h4>
                  <span>Developer</span>
                  <p>
                    About me 
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div
                class="member d-flex align-items-start"
                data-aos="zoom-in"
                data-aos-delay="300"
              >
                <div class="pic">
                  <img
                    src=""
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Sahil</h4>
                  <span>Developer</span>
                  <p>
                    About me
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->


      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Guidelines for Scoring/Rating </h2>
            <p>
              Following section inlcudes various paramters on which one can get an overall idea of the educational body or insitute.
            </p>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" class="collapse" href="#faq-list-1"
                  >Teaching Process
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-parent=".faq-list"
                >
                  <p>
                    To teach is to engage students in learning; thus teaching consists of getting students involved in the active construction of knowledge. 
                    A teacher requires not only knowledge of subject matter, but knowledge of how students learn and how to transform them 
                    into active learners. Good teaching, then, requires a commitment to systematic understanding of learning. The aim of 
                    teaching is not only to transmit information, but also to transform students from passive recipients of other people's 
                    knowledge into active constructors of their own and others' knowledge. 
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-2" class="collapsed"
                  >Learning Process
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                  <p>
                    Learning can be defined as the activity or process of gaining knowledge or skill by studying, practicing, being taught, or experiencing something (Merriam-Webster dictionary). Learning is about what students do, not about what we as teachers do. 
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-3" class="collapsed"
                  >Assessment & Curriculum 
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                  <p>
                    Assessment is defined as the act of judging the amount of learning that took place as a result of learning and teaching. 
                    A well-crafted curriculum serves as a reference to ensure that you’re on the right track. Its components are designed to develop concepts, from a basic level to increasingly complex topics or skills.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a data-toggle="collapse" href="#faq-list-4" class="collapsed"
                  >College Environment
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                  <p>
                    college environment incorporates all external factors related to attending college. This means that the environment is not only the physical space of attending college, such as dormitory rooms and the campus green, but the social and biological factors as well.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

     
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            
          </div>

          <div class="row">
            <div class="col d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>Delhi , India</p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>sahilsbi@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 817XXXXXXX</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.994713897839!2d77.06390231503833!3d28.71970398238337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d068dbf44ecd7%3A0xc4ce5551f8ac8360!2sMaharaja%20Agrasen%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1608191881833!5m2!1sen!2sin"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
           
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Team MAIT</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits"> Project By <a href="#">TEAM CSEIP19</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
